services:
  db:
    image: postgres:15
    container_name: odoo17dev-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - odoo-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U odoo -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  odoo:
    image: odoo:17
    container_name: odoo17dev
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8070:8069"
      - "8072:8072"
    environment:
      HOST: db
      PORT: 5432
      USER: odoo
      PASSWORD: odoo
      TZ: America/Argentina/Buenos_Aires
    volumes:
      - ./config/odoo.conf:/etc/odoo/odoo.conf:ro
      - ./custom_addons:/mnt/extra-addons
      - odoo_data:/var/lib/odoo
    networks:
      - odoo-network
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: odoo17dev-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.dev
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False"
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - odoo-network
    depends_on:
      - db
    restart: unless-stopped

networks:
  odoo-network:
    driver: bridge

volumes:
  odoo_data:
  pgadmin_data:
